version: '3.8'
services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: ap_pass
      POSTGRES_DB: appdb
    ports:
      - "55555:5432"
    volumes:
      - db-data:/var/lib/postgresql

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/appdb
      SPRING_DATASOURCE_USERNAME: appuser
      SPRING_DATASOURCE_PASSWORD: ap_pass
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - db
      - redis

volumes:
  db-data:
